/* master - MARSISCA - BEGIN 2025-11-30 */
.diary-types-container {
  .header {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;

    button {
      mat-icon {
        margin-right: 8px;
      }
    }
  }

  table {
    width: 100%;

    th {
      font-weight: 600;
      font-size: 14px;
    }

    td {
      font-size: 14px;
    }

    .mat-column-actions {
      width: 120px;
      text-align: right;
    }

    .mat-row {
      &.mat-row:hover {
        background-color: #f5f5f5;
      }
    }

    tr.mat-row.mat-no-data-row {
      td {
        text-align: center;
        padding: 40px;
        color: #999;
        font-style: italic;
      }
    }
  }
}
/* master - MARSISCA - END 2025-11-30 */
