// master - MARSISCA - BEGIN 2026-01-08
@use '../../../../styles/themes/variables' as vars;

.diary-types-container {
  .header {
    margin-bottom: vars.$spacing-lg;
    display: flex;
    justify-content: flex-end;

    button {
      mat-icon {
        margin-right: vars.$spacing-sm;
      }
    }
  }

  table {
    width: 100%;

    th {
      font-weight: 600;
      font-size: 0.875rem;
    }

    td {
      font-size: 0.875rem;
    }

    .mat-column-actions {
      width: 120px;
      text-align: right;
    }

    .mat-row {
      &.mat-row:hover {
        background-color: vars.$surface-color;
      }
    }

    tr.mat-row.mat-no-data-row {
      td {
        text-align: center;
        padding: vars.$spacing-xxl;
        color: vars.$text-secondary;
        font-style: italic;
      }
    }
  }
}
// master - MARSISCA - END 2026-01-08
