// master - MARSISCA - BEGIN 2026-01-08
@use '../../../../styles/themes/variables' as vars;
@use '../../../../styles/utilities/mixins' as mixins;

.login-modal {
  min-width: 400px;
  padding: vars.$spacing-md;

  h2 {
    margin: 0 0 vars.$spacing-md 0;
    color: vars.$text-primary;
  }

  mat-dialog-content {
    padding: vars.$spacing-md 0;

    form {
      display: flex;
      flex-direction: column;
      gap: vars.$spacing-md;
    }
  }

  mat-form-field {
    width: 100%;
  }

  .error-message {
    color: vars.$error-color;
    font-size: 0.875rem;
    padding: vars.$spacing-sm;
    background-color: vars.$error-bg;
    border-radius: vars.$radius-sm;
    margin-top: vars.$spacing-sm;
  }

  mat-dialog-actions {
    padding: vars.$spacing-md 0 0 0;
    gap: vars.$spacing-sm;

    button {
      min-width: 80px;
    }

    mat-spinner {
      display: inline-block;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 500px) {
    min-width: 300px;
  }
}
// master - MARSISCA - END 2026-01-08
