// master - MARSISCA - BEGIN 2026-01-08
@use '../../../../styles/themes/variables' as vars;

.sports-container {
  .header {
    margin-bottom: vars.$spacing-md;
    display: flex;
    justify-content: flex-end;
  }

  table {
    width: 100%;
  }

  .mat-row {
    &.mat-row:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  .mat-cell {
    &[colspan] {
      text-align: center;
      padding: vars.$spacing-lg;
      color: vars.$text-secondary;
    }
  }

  .icon-preview {
    width: 48px;
    height: 48px;
    object-fit: cover;
    display: block;
    border-radius: vars.$radius-md;
    border: 1px solid vars.$border-color;
    box-shadow: vars.$shadow-sm;
  }
}
// master - MARSISCA - END 2026-01-08
