// master - MARSISCA - BEGIN 2026-01-08
@use '../../../styles/themes/variables' as vars;

.maps-page {
  padding: vars.$spacing-xl;
  background-color: vars.$surface-color;
  min-height: calc(100vh - 64px);
  margin-top: 64px;

  app-world-map {
    display: block;
    width: 100%;
    max-width: 1400px;
    height: calc(100vh - 64px - 4rem);
    margin: 0 auto;
    border-radius: vars.$radius-lg;
    overflow: hidden;
    box-shadow: vars.$shadow-sm;
    position: relative;
    z-index: vars.$z-base;
  }
}
// master - MARSISCA - END 2026-01-08
