// master - MARSISCA - BEGIN 2026-01-08
@use '../../../../styles/themes/variables' as vars;

.country-form-modal {
  mat-form-field {
    width: 100%;
    margin-bottom: vars.$spacing-md;
  }

  mat-dialog-content {
    padding: vars.$spacing-lg 0;
    min-width: 400px;

    @media (max-width: 600px) {
      min-width: 300px;
    }
  }

  mat-dialog-actions {
    padding: vars.$spacing-md 0;
  }
}
// master - MARSISCA - END 2026-01-08
