// master - MARSISCA - BEGIN 2025-12-14
.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

mat-dialog-content {
  padding: 1.5rem 0;
  min-width: 400px;
}

mat-dialog-actions {
  padding: 1rem 0;
}
// master - MARSISCA - END 2025-12-14
