/* master - MARSISCA - BEGIN 2025-11-30 */
.diary-type-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;

  mat-form-field {
    width: 100%;
  }
}

mat-dialog-content {
  padding: 20px;
}

mat-dialog-actions {
  padding: 16px;
}
/* master - MARSISCA - END 2025-11-30 */
