// master - MARSISCA - BEGIN 2025-10-18
.world-map-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.map-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: #aad3df;
  border-radius: 16px;
}
// master - MARSISCA - END 2025-10-18
