// feature/landing-page - MARSISCA - BEGIN 2026-02-14
@use '../../../../styles/themes/variables' as vars;

.world-map-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: vars.$radius-lg;
  overflow: hidden;
}
// feature/landing-page - MARSISCA - END 2026-02-14
