/* master - MARSISCA - BEGIN 2026-01-01 */
.transportation-types-container {
  .header {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
  }

  table {
    width: 100%;
  }

  .mat-row {
    &.mat-row:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  .mat-cell {
    &[colspan] {
      text-align: center;
      padding: 24px;
      color: #999;
    }
  }

  .icon-preview {
    width: 48px;
    height: 48px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
/* master - MARSISCA - END 2026-01-01 */
