// master - MARSISCA - BEGIN 2026-01-08
@use '../../../../styles/themes/variables' as vars;

.star-rating {
  display: inline-flex;
  gap: vars.$spacing-xs;
  align-items: center;

  .star {
    font-size: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all vars.$transition-fast;
    color: vars.$border-color;
    user-select: none;

    &.filled {
      color: #ffc107; // Star gold color
    }

    &:not(.read-only):hover {
      transform: scale(1.2);
    }

    &.read-only {
      cursor: default;
    }
  }
}
// master - MARSISCA - END 2026-01-08
