// master - MARSISCA - BEGIN 2026-01-08
@use '../../../../styles/themes/variables' as vars;

.accommodation-form {
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-md;
  padding: vars.$spacing-md 0;
  min-width: 400px;

  mat-form-field {
    width: 100%;
  }

  @media (max-width: 600px) {
    min-width: 300px;
  }
}
// master - MARSISCA - END 2026-01-08
