// master - MARSISCA - BEGIN 2026-01-08
@use '../../../../styles/themes/variables' as vars;
@use '../../../../styles/utilities/mixins' as mixins;

.sport-form {
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-md;
  padding: vars.$spacing-md 0;
  min-width: 400px;

  mat-form-field {
    width: 100%;
  }

  .icon-upload {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-sm;

    .icon-label {
      font-size: 0.875rem;
      font-weight: 500;
      color: vars.$text-secondary;
    }

    .icon-preview-container {
      position: relative;
      width: 100px;
      height: 100px;
      border: 1px solid vars.$border-color;
      border-radius: vars.$radius-sm;
      padding: vars.$spacing-sm;
      @include mixins.flex-center;

      .icon-preview {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }

      .remove-icon {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: white;
        box-shadow: vars.$shadow-sm;
      }
    }
  }

  @media (max-width: 600px) {
    min-width: 300px;
  }
}
// master - MARSISCA - END 2026-01-08
