// master - MARSISCA - BEGIN 2026-01-16
@use '../../../../styles/themes/variables' as vars;

.trip-map-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: relative;
  border-radius: vars.$radius-md;
  overflow: hidden;

  .map {
    width: 100%;
    height: 100%;
    min-height: 400px;
  }
}
// master - MARSISCA - END 2026-01-16
